<div class="panel panel-default"> <!--panel-default class for bootstrap-->

  <div class="panel-heading"> <!--panel-heading class for bootstrap-->
  	<div class="panel-title">
  		<h1>How-It-Works</h1>
  	</div>
  </div>

  <div class="panel-body"> <!--panel-body class for bootstrap-->
  	<div class="row">
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">Vimeo</div>
          <!-- Boot strap 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="https://player.vimeo.com/video/149000090"></iframe>
					</div>
        </div>
      </div>
      <div class="col-xs-6">
        <div class="panel panel-default">
          <div class="panel-heading">YouTube</div>
          			<!-- Boot strap 16:9 aspect ratio -->
					<div class="embed-responsive embed-responsive-16by9">
					  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_0zqLDoXU_Y?list=PLCAD01C9C1681B441"></iframe>
					</div>
        </div>
      </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<div class="panel panel-default">
					<div class="panel-heading">Google Maps</div>
						<div class="embed-responsive embed-responsive-16by9">
							  <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3328.938595603411!2d-121.3385770487804!3d38.630648406704864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x809adc1e6d888ab9%3A0xb7f297e541d0fe8b!2sNew+Apostolic+Church+Carmichael!5e0!3m2!1sen!2sus!4v1450300791737"></iframe>
						</div>
				</div>	
			</div>
		</div>
  </div>
</div>
